body, ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
	color:#4F4F4F;
}
div.content table {
	margin:0 auto;
	text-align:center;
}
div.content table td {
	text-align:left;
}
.input-form input.ui-inputfield {
	width:445px;
}
.input-form input.ui-inputfield.hasDatepicker {
	width:394px;
}
button.ui-datepicker-trigger {
	vertical-align:middle;
	height:35px;
	margin-left:5px;
}
.centered {
	text-align:center;
}
.ui-tabs-hide {
	position:absolute;
	left:-10000px;
}
.ui-overlay-hidden {
	position:absolute;
	left:-10000px;
}
.ui-datepicker .ui-datepicker-title select {
	font-size:0.7em;
}
.top {
	vertical-align:top;
}
.left {
	text-align:left;
}
.content-box {
	width:50%;
	margin:0 auto;
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.content-controls {
	text-align:center;
}
.content-box div.ui-editor {
	text-align:center;
	margin:0 auto;
}
.centervh {
	text-align:center;
	vertical-align:middle;
}
.no-border {
	border:none;	
}

.veiculoPanelGrid {
	width:500px;
}

.veiculoPanelGrid tr, .veiculoPanelGrid td {
    border: none;
}

.botaoAdicionar {
	float: left; 
	margin-bottom: 20px; 
	display: inline
}

.clear {
	clear:both
}

.botaoCreate {
	display:block; 
	margin-top:50px; 
	padding-right: 345px
}

/** modificações primefaces **/

.ui-panelgrid td {
	border-style:inherit !important;
}

/** modificações bootstrap **/
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.input-group {
	margin: 0 auto;
}

.input-group input {
	border-radius: 0;
}

.input-group button {
	border-radius: 0;
	margin-right: 0;
}